@use '../scss/colors' as *;

.hp-charCard {
    width: 100%;
    border: 1px solid $main-yellow;
    padding: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: $darker-yellow 0px 30px 60px -12px inset, $main-yellow 0px 18px 36px -18px inset;

    @media (min-width: 768px) {
        width: 45%;
    }

    @media (min-width: 1440px) {
        width: 30%;
    }

    &--container {
        border: 1px solid $main-yellow;
        width: 95%;
        height: 95%;
        padding: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba($color: $black, $alpha: 0.5);
    }

    &__image {
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 80%;
        height: 300px;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;

        border: 1px solid $main-yellow;
    }

    &__name {
        color: $main-yellow;
        font-size: 18px;
        margin-top: 12px;
        font-weight: 700;

        @media (min-width: 768px) {
            font-size: 24px;
        }
    
        @media (min-width: 1440px) {
            font-size: 32px;
        }
    }

    &__house {
        color: $white;
        font-weight: 300;
        font-size: 18px;

        &[data-house="Gryffindor"] {
            border-bottom: 1px solid $main-red;
        }
        &[data-house="Slytherin"] {
            border-bottom: 1px solid $main-green;
        }
        &[data-house="Hufflepuff"] {
            border-bottom: 1px solid $lighter-yellow;
        }
        &[data-house="Ravenclaw"] {
            border-bottom: 1px solid $lighter-blue;
        }
    }

    &__moreInfo {
        display: flex;
        flex-wrap: wrap;
        margin-top: 24px;


        div {
            width: 50%;
            color: $white;
            margin-bottom: 10px;

            p {
                font-size: 12px;
                font-weight: 300;
            }
        }
    }
}