@use '../scss/colors' as *;

.hp-charContainer {
    padding: 64px 0;
    background: url('../../assets/background.gif');
    background-position: center;

    h2 {
        font-family: 'MedievalSharp', cursive;
        font-size: 36px;
        color: $white;
        margin-bottom: 32px;
        text-align: center;
    }

    &__charList {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
        
        width: 80%;
        margin: auto;
    }
    
}